* {
   font-family: 'Nunito', sans-serif;
}
/* Estilos para el encabezado h1 */
h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para la lista de mensajes */
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
